<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Contact Form"}} @-->
<!--@vars {
"var note":"Note",
"var name":"Sender Name",
"var telephone":"Sender Telephone"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td><strong>{{trans "Note"}}</strong></td>
        <td>{{var note}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Name"}}</strong></td>
        <td>{{var name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Phone"}}</strong></td>
        <td>{{var telephone}}</td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
