<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Contact Form"}} @-->
<!--@vars {
"var message":"Message",
"var email":"Sender Email",
"var name":"Sender Name",
"var company":"Company Name",
"var telephone":"Sender Telephone"
"var city":"Sender City"
"var postcode":"Sender Postcode"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td><strong>{{trans "Email"}}</strong></td>
        <td>{{var email}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Name"}}</strong></td>
        <td>{{var name}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Company"}}</strong></td>
        <td>{{var company}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Phone"}}</strong></td>
        <td>{{var telephone}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "City"}}</strong></td>
        <td>{{var city}}</td>
    </tr>
    <tr>
        <td><strong>{{trans "Postcode"}}</strong></td>
        <td>{{var postcode}}</td>
    </tr>
</table>
<p><strong>{{trans "Message"}}</strong></p>
<p>{{var message}}</p>

{{template config_path="design/email/footer_template"}}
