<?php
/**
 * @var PBH\CallBack\Block\Index $block
 */
?>
<div id="popup-modal">
    <div id="notification-message"></div>
    <div class="callback-form-popup" style="display: none;">
    <form class="form contact"
          id="contact_us"
          method="post"
          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
          data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset">
            <div class="field note">
                <label class="label" for="enquiry"><span><?php echo __('Please call me back:') ?></span></label>
                <div class="control">
                    <select name="note" id="note" aria-label="Delay to callback">
                        <?php $callbackTimes = $block->getCallBackTime(); ?>
                        <?php foreach ($callbackTimes as $callbackTime): ?>
                            <option value="<?= $callbackTime['value']; ?>"><?= __($callbackTime['label']); ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
            <div class="field name required">
                <label class="label" for="name"><span><?= $block->escapeHtml(__('Contact Name:')) ?></span></label>
                <div class="control">
                    <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Contact Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field telephone required">
                <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Telephone:')) ?></span></label>
                <div class="control">
                    <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Telephone')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" data-validate="{required:true}" />
                </div>
            </div>
        </fieldset>
        <?= $block->getChildHtml('form.additional.info') ?>
        <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" name="hideit" id="hideit" value="" />
                <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                    <span><?= $block->escapeHtml(__('Proceed')) ?></span>
                </button>
            </div>
        </div>
    </form>
    </div>
    <div class="callback-success-block" style="display: none;">
        <a class="primary action" href="<?= $block->getUrl() ?>"><?= __('Continue Shopping') ?></a>
    </div>
</div>
<script type="text/x-magento-init">
        {
            "*": {
                "PBH_CallBack/js/modal_callback": {
                    "form_action": "<?= $block->escapeUrl($block->getFormAjaxAction()) ?>"
                }
            }
        }
</script>
