<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \PBH\ContactUs\ViewModel\FormModel $viewModel */
$viewModel = $block->getData('viewModel');
?>
<form class="form contact"
      action="<?= $block->escapeUrl($viewModel->getFormAction()) ?>"
      id="contact-form"
      method="post"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <div class="field note no-label"><?= $block->escapeHtml(__('Jot us a note and we’ll get back to you as quickly as possible.')) ?></div>
        <div class="field enquiry">
            <label class="label" for="enquiry"><span><?php echo __('Type of enquiry:') ?></span></label>
            <div class="control">
                <select name="enquiry" id="enquiry">
                    <?php $enquiryTypes = $viewModel->getEnquiryTypesOptions(); ?>
                    <?php foreach ($enquiryTypes as $key=>$label): ?>
                        <option value="<?= $key; ?>"><?= __($label); ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="field email required">
            <label class="label" for="email"><span><?= $block->escapeHtml(__('Email address:')) ?></span></label>
            <div class="control">
                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
            </div>
        </div>
        <div class="field message required">
            <label class="label" for="message"><span><?= $block->escapeHtml(__('Message:')) ?></span></label>
            <div class="control">
                <textarea name="message" id="message" title="Message" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('message')) ?></textarea>
            </div>
        </div>
        <div class="field name required">
            <label class="label" for="name"><span><?= $block->escapeHtml(__('Name:')) ?></span></label>
            <div class="control">
                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
            </div>
        </div>
        <div class="field company">
            <label class="label" for="company"><span><?= $block->escapeHtml(__('Company Name:')) ?></span></label>
            <div class="control">
                <input name="company" id="company" title="<?= $block->escapeHtmlAttr(__('company')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('company'));?>" class="input-text" type="text" />
            </div>
        </div>

        <div class="field telephone required">
            <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone:')) ?></span></label>
            <div class="control">
                <input name="telephone" id="telephone" title="<?= $block->escapeHtmlAttr(__('Phone')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" data-validate="{required:true}" />
            </div>
        </div>
        <div class="field city">
            <label class="label" for="city"><span><?= $block->escapeHtml(__('City:')) ?></span></label>
            <div class="control">
                <input name="city" id="city" title="<?= $block->escapeHtmlAttr(__('City')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('city')) ?>" class="input-text" type="text" />
            </div>
        </div>
        <div class="field postcode">
            <label class="label" for="postcode"><span><?= $block->escapeHtml(__('Postcode:')) ?></span></label>
            <div class="control">
                <input name="postcode" id="postcode" title="<?= $block->escapeHtmlAttr(__('Postcode')) ?>" value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('postcode')) ?>" class="input-text" type="text" />
            </div>
        </div>
    </fieldset>
    <?= $block->getChildHtml('form.additional.info') ?>
    <div class="actions-toolbar">
        <div class="primary">
            <input type="hidden" name="hideit" id="hideit" value="" />
            <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary">
                <span><?= $block->escapeHtml(__('Proceed')) ?></span>
            </button>
        </div>
    </div>
</form>